* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Avenir';
}
.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tsparticles {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;

  background: linear-gradient(
    rgba(0, 0, 0, 1) 10%,
    rgba(234, 44, 11, 0.75) 150%
  );
}

.forminput {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 0 0;
  z-index: 2;
}
.center {
  display: flex;
  justify-content: center;
  z-index: 2;
}

.search {
  min-width: 100px;
  width: 75%;
  padding: 1.5rem;
  border-radius: 50px;
  background-color: #c7c5c4;
  border: none;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  margin: 5px;
  z-index: 2;

  &:focus {
    transition: all 0.5s ease-in-out;
    background-color: #3c3030;
    outline: none;
  }
}

.button {
  padding: 1.5rem 1.5rem;
  align-self: center;
  background-color: rgb(223, 202, 78);
  border: none;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  margin: 5px;
  z-index: 2;
  &:focus {
    outline: none;
  }
  &:hover {
    transform: scale(200% 200%);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
}

.form-out {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-bottom: 3rem;
  z-index: 2;
}

#inputImage {
  border-radius: 1rem;
  border: 1rem solid #110e0e;
  z-index: 2;
}

.celebrity-name {
  color: #dfca4e;
  padding: 1rem;
  border: 0.5rem solid #dfca4e;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-width: 98px;
  margin: 5px;
  z-index: 2;
}

.header {
  font-size: 3rem;
  text-shadow: 15px 15px rgb(2, 2, 2);
  padding-top: 3rem;
  text-align: center;
  color: rgb(223, 202, 78);
  z-index: 2;
}

.black {
  color: #dfca4e;
  text-decoration: none;
  z-index: 2;

  &:visited {
    color: #dfca4e;
  }
}

.svg {
  max-height: 500px;
  min-height: 200px;
  width: 100%;
  z-index: -1;
}
.celeb {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  max-width: 500px;
  width: 100vw;
  z-index: 2;
}

#inputImage {
  width: 100vw;
  max-width: 500px;
  z-index: 2;
}
