* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Avenir"
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
#tsparticles {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;

  background: linear-gradient( rgba(0,0,0, 1) 10%,
  rgba(234,44,11, 0.75) 150%);
}

.forminput {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 0 0;
  
}
.center {
  display: flex;
  justify-content: center;
}

.search{
  flex-grow: 2;
  padding: 1.5rem;
  border-radius: 50px;
  border-radius: 50px;
  margin-bottom: 3rem;
  background-color: #C7C5C4;
  border: none;
  transition: all 0.5s ease-in-out;
  font-weight: 600;

  &:focus{
    transition: all 0.5s ease-in-out;
    background-color: #3c3030; 
    outline: none;
  }
}

.button{
  padding: 1.5rem 1.5rem;
  align-self: center;
  position: relative;
  left: 1rem;
  bottom: 1.5rem;
  background-color: rgb(223,202,78);
  border: none;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  &:focus{
    outline: none;
  }
  &:hover{
    transform: scale(200% 200%);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
}

.form-out{
  display: flex;
  justify-content: space-between;
  width: 500px;
}

#inputImage{
  border-radius: 1rem;
  border: 1rem solid 	#110e0e;
}

.celebrity-name{
  color: #dfca4e;
  padding: 1rem;
  border: 0.5rem solid #dfca4e;
  border-radius: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.header{
  font-size: 3rem;
  text-shadow: 15px 15px rgb(2, 2, 2);
  position: relative;
  top: 2.5rem;
  color: rgb(223,202,78);
}

.black{
  color: #dfca4e;
  text-decoration: none;

  &:visited{
    color: #dfca4e;
  }
}

.svg{
  height: 500px;
}