#tsparticles {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;

  background: linear-gradient( rgba(0,0,0, 1) 10%,
  rgba(234,44,11, 0.75) 150%);
}

.home-title{
    font-size: 6rem;
    color: #dfca4e;
    position: relative;
}

.home{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    padding: 2rem;
    border-radius: 50px;
    border: none;
    background-color: #dfca4e;
}